<ul>
    <li role="button" onclick="toggleSidebar()" id="sidebarToggleButton">
        <i class="fa-solid fa-bars menu"></i>
        <span>Menu</span>
    </li>
    <li role="button" onclick="loadPage('dashboard')" id="sidebarDashboardButton">
        <i class="fa-solid fa-house dashboard"></i>
        <span>Dashboard</span>
    </li>
    <li role="button" onclick="loadPage('gamemanager')" id="sidebarGamemanagerButton">
        <i class="fa-solid fa-headset gameManager"></i>
        <span>Gamemanager</span>
    </li>
</ul>
<ul>
    <li role="button" onclick="loadPage('settings')" id="sidebarSettingsButton">
        <i class="fa-solid fa-gear settings"></i>
        <span>Settings</span>
    </li>
    <li role="button" onclick="loadPage('about')" id="sidebarAboutButton">
        <i class="fa-solid fa-circle-info about"></i>
        <span>About</span>
    </li>
</ul>