#sidebar
{
    position: fixed;
    width: var(--sidebar-width);
    height: 100%;
    background: var(--secondary-background-color);
    top: 0;
    left: 0;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    overflow: hidden;
    transition: 0.2s ease-out;
    ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        width: calc(var(--sidebar-width) - 10px);
        &:first-child li:first-child{
            margin-top: 10px;
            margin-bottom: 20px;
        }
    }
    li{
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
        cursor: pointer;
        width: 100%;
        &.active i{
            background: var(--secondary-background-color-hover);
        }
        span{
            position: absolute;
            left: 200%;
            font-size: 1.2em;
            transition-delay: 0.3s;
            transition: 0.5s ease-out;
            background: var(--secondary-background-color);
            padding: 8px;
            text-indent: 30px;
            z-index: -1;
        }
        i{
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            color: var(--primary-text-color);
            background: var(--secondary-background-color);
            border-radius: 5px;
            padding: 6px;
            font-size: 1.7em;
            line-height: 1;
            box-sizing: border-box;
            transition: 0.2s;
            &:hover{
                background: var(--secondary-background-color-hover);
            }
            &.menu{
                padding: 3px;
            }
            &.settings, &.about{
                padding: 9px;
            }
        }
    }
    &.collapsed{
        width: var(--sidebar-width-collapsed);
        span{
            left: 12%;
        }
    }
}
#page
{
    margin-left: var(--sidebar-width);
    padding: 15px;
    transition: 0.2s ease-out;
}
#sidebar.collapsed + #page
{
    margin-left: var(--sidebar-width-collapsed);
    transition: 0.2s;
}