.gamemanager.container
{
    .launchers
    {
        margin-top: 20px;
        .launcherlist{
            margin-top: 10px;   
            display: flex;
            gap: 15px;
            flex-wrap: wrap;
            .launcher{
                width: fit-content;
                img{
                    margin-right: 10px;
                    width: 40px;
                    border-radius: 50%;
                }
            }
        }
    }
    .audiomanagement
    {
        margin-top: 20px;
        form{
            margin-top: 10px;
            display: flex;
            gap: 30px;
            .form-group{
                display: flex;
                flex-direction: column;
                gap: 5px;
            }
            button,select{
                cursor: pointer;
            }
        }
    }
    .games{
        margin-top: 20px;
        .gamelist{
            margin-top: 10px;   
            display: flex;
            gap: 15px;
            flex-wrap: wrap;
            .game{
                display: flex;
                padding: 10px;
                width: 350px;
                flex-direction: column;
                align-items: start;
                position: relative;
                img{
                    margin-bottom: 5px;
                    width: 100%;
                    height: auto;
                    border-radius: 5px;
                }
                .content{
                    width: 100%;
                    span{
                        color: var(--secondary-text-color);
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        display: block;
                    }
                }
                .game-checkbox{
                    position: absolute;
                    top: 15px;
                    left: 15px;
                    cursor: pointer;
                }
            }
        }
    }
}