.gamemanager.container
{
    .launchers
    {
        margin-top: 20px;
        .launcherlist{
            margin-top: 10px;   
            display: flex;
            gap: 15px;
            flex-wrap: wrap;
            .launcher{
                width: fit-content;
                img{
                    margin-right: 10px;
                    width: 40px;
                    border-radius: 50%;
                }
            }
        }
    }
    .audiomanagement
    {
        margin-top: 20px;
        form{
            margin-top: 10px;
            display: flex;
            gap: 30px;
            .form-group{
                display: flex;
                flex-direction: column;
                gap: 5px;
            }
            button,select{
                cursor: pointer;
            }
        }
    }
    .games{
        margin-top: 20px;
        .gamelist{
            margin-top: 10px;   
            display: flex;
            gap: 15px;
            flex-wrap: wrap;
            justify-content: space-between;
            .game{
                display: flex;
                padding: 10px;
                width: 350px;
                flex-direction: column;
                align-items: start;
                position: relative;
                transition: 0.4s;
                &:hover{
                    box-shadow: 0 0 10px 3px var(--quaternary-background-color);
                }
                img{
                    margin-bottom: 5px;
                    width: 100%;
                    height: auto;
                    border-radius: 5px;
                }
                .content{
                    width: 100%;
                    span{
                        color: var(--secondary-text-color);
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        display: block;
                    }
                }
                .game-checkbox{
                    position: absolute;
                    top: 15px;
                    left: 15px;
                    cursor: pointer;
                }
                .game-menu
                {
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    width: calc(100% - 20px);
                    height: calc(100% - 20px);
                    background: transparent;
                    z-index: 100;
                    i.fa-ellipsis-vertical{
                        position: absolute;
                        right: -5px;
                        top: 0px;
                        font-size: 1.4em;
                        cursor: pointer;
                        width: 30px;
                        height: 30px;
                        background: transparent;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        z-index: 102;
                    }
                    .popup
                    {
                        display: none;
                        position: absolute;
                        top: 0px;
                        right: 0px;
                        background: var(--secondary-background-color);
                        border-radius: 5px;
                        overflow: hidden;
                        padding: 0px;
                        flex-direction: column;
                        z-index: 101;
                        box-shadow: 0 0 5px var(--card-boxshadow-color);
                        i{
                            width: 23px;
                        }
                        ul{
                            list-style: none;
                            display: flex;
                            flex-direction: column;
                            li{
                                padding: 7px 10px;
                                &.warning{
                                    background: var(--error-background-color);
                                }
                                &:hover{
                                    text-shadow: 0 0 5px var(--text-shadow-color);
                                }
                            }
                        }
                        &.active{
                            display: flex;
                        }
                    }
                }
            }
        }
    }
}