.card
{
    background: var(--card-background-color);
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0px 5px 10px var(--card-boxshadow-color);
    display: flex;
    align-items: center;
}

.slider
{
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 3px;
    outline: none;
    opacity: 0.7;
    border-radius: 5px;
    background: var(--secondary-text-color);
    &::-webkit-slider-thumb
    {
        -webkit-appearance: none;
        appearance: none;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: var(--tertiary-text-color);
        cursor: pointer;
        box-shadow: 0px 0px 5px black;
    }
}

option
{
    background: var(--primary-background-color);
    color: var(--primary-text-color);
    border-radius: 5px;
}

.save-btn
{
    display: flex;
    gap: 5px;
    &:hover{
        border-color: var(--secondary-text-color) !important;
    }
    i.save-icon{
        transform: translateY(2px);
    }
    i.check-icon{
        transform: translateY(2px);
        display: none;
    }
    &:focus{
        color: var(--secondary-text-color);
        text-shadow: 0px 0px 5px var(--secondary-text-color);
        i.save-icon{
            display: none;
        }
        i.check-icon{
            display: block;
        }
    }
}

.select-wrapper
{
    width: 100%;
    position: relative;
    i.fa-chevron-down {
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
    }
    select{
        width: 100%;
        appearance: none;
        -webkit-appearance: none;
    }
}

input:not([type="range"]),select,button{
    border-radius: 8px;
    border: 1px solid var(--primary-border-color);
    background: transparent;
    color: var(--primary-text-color);
    padding: 10px 14px;
    transition: border-color 0.15s;
    &:hover{
        border-color: var(--secondary-border-color);
    }
}
button
{
    cursor: pointer;
}
input[type="search"]{
    flex: 1;
}
select{
    flex: 1;
}