<link rel="stylesheet" href="../assets/style/gamemanager.css">

<div class="gamemanager container">
    <div class="head card">
        <img id="gameManagerImage" src="../assets/images/logos/sysgamemanager_logo.png" alt="Game Manager" class="game-manager-image">
        <div class="content">
            <h2>Game Manager</h2>
            <p><span id="gameAmount">0</span> Spiele - <span id="launcherAmount">0</span> Launcher</p>
            <p>Launcher, Spiele und schnelle Aktionen auf einen Blick.</p>
        </div>
    </div>
    <div class="launchers">
        <h2>Launcher</h2>
        <div class="launcherlist" expandable="true" id="launcherlist"></div>
    </div>
    <div class="audiomanagement">
        <h2>Audio Einstellungen</h2>
        <div class="audiosettings-form card">
            <div class="select-game">
                <div class="search">
                    <h3>Spiele auswählen</h3>
                    <input type="search" name="searchGame" id="searchGame" placeholder="Spiel suchen..." oninput="filterGames(this.value)">
                    <div class="select-wrapper">
                        <select name="selectFilter" id="selectFilter" onchange="filterGames(document.getElementById('searchGame').value)">
                            <option value="name">Name</option>
                            <option value="installpath">Installationspfad</option>
                            <option value="audioDevice">Audio Device</option>
                        </select>
                        <i class="fas fa-chevron-down"></i>
                    </div>
                </div>
                <div class="settings">
                    <button type="button" class="select-all-games" onclick="selectAllGames()" id="selectAllGamesButton">Alle auswählen</button>
                    <button type="button" class="reverse-selection" onclick="reverseSelection()">Auswahl umkehren</button>
                </div>
            </div>
            <div class="audiosettings-divider"></div>
            <div class="audio-settings">
                <form onsubmit="saveSelectedGamesAudioOutputDevice(); return false;" class="audio-setting-form">
                    <h3>Geräte auswählen</h3>
                    <div class="setting-row">
                        <div class="select-wrapper">
                            <select name="audioOutputDevice" id="audioOutputDevice">
                                <option value="">-- Bitte wählen --</option>
                            </select>
                            <i class="fas fa-chevron-down"></i>
                        </div>
                        <button type="submit" class="save-btn">
                            <i class="fa-solid fa-floppy-disk save-icon"></i>
                            <i class="fa-solid fa-check check-icon"></i>
                            Speichern
                        </button>
                    </div>
                </form>
                <form onsubmit="saveSelectedGamesGameVolume(); return false;" class="audio-setting-form">
                    <h3>Spiellautstärke</h3>
                    <div class="setting-row game-volume">
                        <input class="slider" type="range" id="gameVolumeSlider" min="0" max="100" value="100" oninput="changeValue(this, 'gameVolume')">
                        <span><span id="gameVolumeValue">100</span>%</span>
                        <button type="submit" class="save-btn">
                            <i class="fa-solid fa-floppy-disk save-icon"></i>
                            <i class="fa-solid fa-check check-icon"></i>
                            Speichern
                        </button>
                    </div>
                </form>
                <form onsubmit="saveSelectedGamesMusicVolume(); return false;" class="audio-setting-form">
                    <h3>Musiklautstärke</h3>
                    <div class="setting-row music-volume">
                        <input class="slider" type="range" id="musicVolumeSlider" min="0" max="100" value="100" oninput="changeValue(this, 'musicVolume')">
                        <span><span id="musicVolumeValue">100</span>%</span>
                        <button type="submit" class="save-btn">
                            <i class="fa-solid fa-floppy-disk save-icon"></i>
                            <i class="fa-solid fa-check check-icon"></i>
                            Speichern
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="games">
        <h2>Spiele <span id="gameAmountAfterFilter"></span></h2>
        <div class="gamelist" expandable="true" id="gamelist">
            <div class="game card">
                <img src="${getGameImageUrl(game.GameImage)}" alt="${game.Name} image" onerror="this.src='../assets/images/bild.jpg';" onclick="selectGame('${game.SerializedGameName}')">
                <input type="checkbox" name="select${game.SerializedGameName}" class="game-checkbox" data-game-name="${game.SerializedGameName}" onchange="selectGame('${game.SerializedGameName}')">
                <div class="game-menu">
                    <i class="fa-solid fa-ellipsis-vertical" role="button" onclick="toggleGameMenuPopup('gameMenuPopup-${game.SerializedGameName}')"></i>
                    <div class="popup" id="gameMenuPopup-${game.SerializedGameName}">
                        <ul>
                            <li role="button" onclick="launchGame('${game.SerializedGameName}')">
                                <i class="fa-solid fa-play"></i>
                                <span>Starten</span>
                            </li>
                            <li role="button" onclick="startChangeGameImageProzess('${game.SerializedGameName}')">
                                <i class="fa-solid fa-gear"></i>
                                <span>Bild ändern</span>
                            </li>
                            <li role="button" onclick="openInstallFolder('${game.SerializedGameName}')">
                                <i class="fa-solid fa-folder-open"></i>
                                <span>Ordner öffnen</span>
                            </li>
                            <li role="button" onclick="removeGameFromView('${game.SerializedGameName}')" class="warning">
                                <i class="fa-solid fa-trash"></i>
                                <span>Spiel entfernen</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="content">
                    <h3>${game.Name}</h3>
                    <p>Installationspfad:</p>
                    <span id="installPath">${game.InstallFolderPath}</span>
                    <p>Volume:</p>
                    <span id="volume">Game: ${game.GameVolumePercent ?? 0}% | Music: ${game.MusicVolumePercent ?? 0}%</span>
                    <p>Audio Output</p>
                    <span id="audioOutput">${game.AudioOutputDevice ?? "N/A"}</span>
                </div>
            </div>
        </div>
    </div>
</div>