<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="assets/style/style.css">
    <link rel="stylesheet" href="assets/style/components.css">
    <link rel="stylesheet" href="assets/style/elements.css">
    <link rel="stylesheet" href="assets/style/settings.css">
    <!-- <meta http-equiv="refresh" content="2"> -->
</head>
<body>
    <div id="sidebar"></div>
    <div id="page"></div>

    
    <script src="https://kit.fontawesome.com/350675982b.js" crossorigin="anonymous"></script>
    <script src="assets/script/api.js"></script>
    <script src="assets/script/router.js"></script>
    <script src="assets/script/app.js"></script>
</body>
</html>